@model ProyectoDesviaciones.BD.Clientes

@{
    ViewBag.Title = "Create";
}

<h2>Crear Cliente</h2>


@using (Html.BeginForm())
{
    if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal('@(TempData["Message"] as string)');
            }
        </script>
    }

    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        

        <div class="form-group"> 
            
            @*@Html.LabelFor(model => model.DescripcionDelCliente, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                <label>Nombre Cliente</label>
                    @Html.EditorFor(model => model.DescripcionDelCliente, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DescripcionDelCliente, "", new { @class = "text-danger" })
</div>
        </div>

        <div class="form-group">
            
            @*@Html.LabelFor(model => model.TelefonoDelCliente, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                <label>Telefono</label>
                @Html.EditorFor(model => model.TelefonoDelCliente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TelefonoDelCliente, "", new { @class = "text-danger" })
            </div>
        </div>
    

        <div class="form-group">
            <div class="col-md-offset-0 col-md-10">
                <a class="btn btn-sm btn-primary" href="/Clientes/Index">Listado Clientes</a>
                <input type="submit" value="Crear" class="btn btn-sm btn-success" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
