@model ProyectoDesviaciones.BD.AreaInvolucrada

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal('@(TempData["Message"] as string)');
            }
        </script>
    }

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            
            <div class="col-md-10">
                <label>Descripcion</label>

                @Html.EditorFor(model => model.DescripcionAreaInvolucrada, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DescripcionAreaInvolucrada, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-0 col-md-10">
                <a class="btn btn-sm btn-primary" href="/AreaInvolucradas/Index">Listado de Areas</a>
                <input type="submit" value="Crear" class="btn btn-sm btn-success" />
            </div>
        </div>
    </div>

}

<div>
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
